apiVersion: v1
kind: Namespace
metadata:
    name: influxdb
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: influxdb
  namespace: argocd
spec:                                                                                                      
  project: default
  source:
    repoURL: 'https://github.com/joakimberglund/home-setup.git'
    targetRevision: main
    path: "kubernetes/influxdb"
  destination:
    server: https://kubernetes.default.svc
    namespace: influxdb
  syncPolicy:
    automated: {}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: influxdb-data-pv
  namespace: influxdb
  labels:
    type: local
spec:
  storageClassName: local-path
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/influxdb"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: influxdb-data-pvc
  namespace: influxdb
spec:
  storageClassName: local-path
  volumeName: influxdb-data-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: influxdb
  name: influxdb
  namespace: influxdb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: influxdb
  template:
    metadata:
      labels:
        app: influxdb
    spec:
      containers:
        - image: influxdb:1.11.8
          name: influxdb
          ports:
            - containerPort: 8086
              name: influxdb
            - containerPort: 8088
              name: rpc
          volumeMounts:
            - mountPath: /etc/influxdb/influxdb.conf
              name: influxdb-config
              subPath: influxdb.conf
              readOnly: true
            - mountPath: /var/lib/influxdb
              name: data
      volumes:
        - name: influxdb-config
          configMap:
            name: influxdb-config
        - name: data
          persistentVolumeClaim:
            claimName: influxdb-data-pvc
---
apiVersion: v1

kind: ConfigMap
metadata:
  name: influxdb-config
  namespace: influxdb
data:
  influxdb.conf: |+
    reporting-disabled = true
    bind-address = ":8088"

    [meta]
      dir = "/var/lib/influxdb/meta"

    [data]
      dir = "/var/lib/influxdb/data"
      wal-dir = "/var/lib/influxdb/wal"
      index-version = "tsi1"
      series-id-set-cache-size = 100
---
apiVersion: v1
kind: Service
metadata:
  name: influxdb
  namespace: influxdb
spec:
  allocateLoadBalancerNodePorts: true
  ports:
  - name: influxdb
    port: 8086
    protocol: TCP
    targetPort: 8086
  - name: rpc
    port: 8088
    protocol: TCP
    targetPort: 8088
  selector:
    app: influxdb
  sessionAffinity: None
  type: LoadBalancer
  loadBalancerIP: 192.168.0.75
